Flask==3.0.3
Flask-CORS==5.0.0
# Werkzeug==2.2.2
openai
pyjwt
pyjwt[crypto]
cachetools
python-dotenv
boto3
pydantic
runpod
pandas
tiktoken
striprtf
pypdf
pymupdf
docx2txt
python-docx
unidecode
pdfkit
# graphviz
# streamlit-agraph